openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Resource API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}
  : get:
      tags:
      - Resource
      description: Get the metadata of a service instance.
      operationId: Services_Get
      x-ms-examples:
        Get metadata:
          $ref: ./examples/legacy/ServiceGet.json
        Get metadata for CMK enabled service in data sovereign region:
          $ref: ./examples/legacy/ServiceGetInDataSovereignRegionWithCmkEnabled.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains all of the properties of the service instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Services get
      x-summary-source: derived
    put:
      tags:
      - Resource
      description: Create or update the metadata of a service instance.
      operationId: Services_CreateOrUpdate
      x-ms-examples:
        Create or Update a service with all parameters:
          $ref: ./examples/legacy/ServiceCreate.json
        Create or Update a service with minimum parameters:
          $ref: ./examples/legacy/ServiceCreateMinimum.json
        Create or Update a service with all parameters and CMK enabled in a data sovereign region:
          $ref: ./examples/legacy/ServiceCreateInDataSovereignRegionWithCmkEnabled.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: Updated - Put request accepted and an existing resource is being updated; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        '201':
          description: Created - Put request accepted and a new resource was created; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicesDescription'
        description: The service instance metadata.
        required: true
      summary: Services create or update
      x-summary-source: derived
    patch:
      tags:
      - Resource
      description: Update the metadata of a service instance.
      operationId: Services_Update
      x-ms-examples:
        Patch service:
          $ref: ./examples/legacy/ServicePatch.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The tags for the resource were updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicesPatchDescription'
        description: The service instance metadata and security metadata.
        required: true
      summary: Services update
      x-summary-source: derived
    delete:
      tags:
      - Resource
      description: Delete a service instance.
      operationId: Services_Delete
      x-ms-examples:
        Delete service:
          $ref: ./examples/legacy/ServiceDelete.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '202':
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Services delete
      x-summary-source: derived
components:
  schemas:
    ServiceImportConfigurationInfo:
      description: Import operation configuration information
      type: object
      properties:
        integrationDataStore:
          type: string
          description: The name of the default integration storage account.
          readOnly: false
        initialImportMode:
          type: boolean
          description: If the FHIR service is in InitialImportMode.
          readOnly: false
        enabled:
          type: boolean
          description: If the import operation is enabled.
          readOnly: false
    ServiceCorsConfigurationInfo:
      description: The settings for the CORS configuration of the service instance.
      type: object
      properties:
        origins:
          type: array
          description: The origins to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationOriginEntry'
        headers:
          type: array
          description: The headers to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationHeaderEntry'
        methods:
          type: array
          description: The methods to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationMethodEntry'
        maxAge:
          type: integer
          description: The max age to be allowed via CORS.
          readOnly: false
          minimum: 0
          maximum: 99999
        allowCredentials:
          type: boolean
          description: If credentials are allowed via CORS.
          readOnly: false
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ProvisioningState:
      description: The provisioning state.
      enum:
      - Deleting
      - Succeeded
      - Creating
      - Accepted
      - Verifying
      - Updating
      - Failed
      - Canceled
      - Deprovisioned
      - Moving
      - Suspended
      - Warned
      - SystemMaintenance
      type: string
      readOnly: true
      x-ms-enum:
        name: provisioningState
        modelAsString: true
    ServiceAccessPolicyEntry:
      description: An access policy entry.
      properties:
        objectId:
          description: An Azure AD object ID (User or Apps) that is allowed access to the FHIR service.
          type: string
          pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
      required:
      - objectId
    ServiceExportConfigurationInfo:
      description: Export operation configuration information
      type: object
      properties:
        storageAccountName:
          type: string
          description: The name of the default export storage account.
          readOnly: false
    ServicesProperties:
      description: The properties of a service instance.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          $ref: '#/components/schemas/ProvisioningState'
        accessPolicies:
          $ref: '#/components/schemas/ServiceAccessPoliciesInfo'
          description: The access policies of the service instance.
        cosmosDbConfiguration:
          $ref: '#/components/schemas/ServiceCosmosDbConfigurationInfo'
          description: The settings for the Cosmos DB database backing the service.
        authenticationConfiguration:
          $ref: '#/components/schemas/ServiceAuthenticationConfigurationInfo'
          description: The authentication configuration for the service instance.
        corsConfiguration:
          $ref: '#/components/schemas/ServiceCorsConfigurationInfo'
          description: The settings for the CORS configuration of the service instance.
        exportConfiguration:
          $ref: '#/components/schemas/ServiceExportConfigurationInfo'
          description: The settings for the export operation of the service instance.
        privateEndpointConnections:
          description: The list of private endpoint connections that are set up for this resource.
          type: array
          items:
            $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
        publicNetworkAccess:
          description: Control permission for data plane traffic coming from public networks while private endpoint is enabled.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
        acrConfiguration:
          $ref: '#/components/schemas/ServiceAcrConfigurationInfo'
          description: The azure container registry settings used for convert data operation of the service instance.
        importConfiguration:
          $ref: '#/components/schemas/ServiceImportConfigurationInfo'
          description: The settings for the import operation of the service instance.
    ServiceAccessPoliciesInfo:
      description: The access policies of the service instance.
      type: array
      items:
        $ref: '#/components/schemas/ServiceAccessPolicyEntry'
      x-ms-identifiers:
      - objectId
    ServiceCosmosDbConfigurationInfo:
      description: The settings for the Cosmos DB database backing the service.
      type: object
      properties:
        offerThroughput:
          type: integer
          description: The provisioned throughput for the backing database.
          readOnly: false
          minimum: 400
        keyVaultKeyUri:
          type: string
          description: The URI of the customer-managed key for the backing database.
          readOnly: false
        crossTenantCmkApplicationId:
          type: string
          pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
          description: The multi-tenant application id used to enable CMK access for services in a data sovereign region.
          readOnly: false
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    ServicesPropertiesUpdateParameters:
      description: The properties for updating a service instance.
      type: object
      properties:
        publicNetworkAccess:
          description: Control permission for data plane traffic coming from public networks while private endpoint is enabled.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    ServiceCorsConfigurationMethodEntry:
      description: A method for CORS.
      type: string
    ServicesResource:
      description: The common properties of a service.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        kind:
          readOnly: false
          type: string
          description: The kind of the service.
          enum:
          - fhir
          - fhir-Stu3
          - fhir-R4
          x-ms-enum:
            name: kind
            modelAsString: false
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
        etag:
          description: An etag associated with the resource, used for optimistic concurrency when editing it.
          type: string
        identity:
          type: object
          description: Setting indicating whether the service has a managed identity associated with it.
          properties:
            principalId:
              readOnly: true
              type: string
              description: The principal ID of the resource identity.
            tenantId:
              readOnly: true
              type: string
              description: The tenant ID of the resource.
            type:
              description: Type of identity being specified, currently SystemAssigned and None are allowed.
              type: string
              enum:
              - SystemAssigned
              - None
              x-ms-enum:
                name: ManagedServiceIdentityType
                modelAsString: true
      x-ms-azure-resource: true
      required:
      - location
      - kind
    ServiceAuthenticationConfigurationInfo:
      description: Authentication configuration information
      type: object
      properties:
        authority:
          type: string
          description: The authority url for the service
          readOnly: false
        audience:
          type: string
          description: The audience url for the service
          readOnly: false
        smartProxyEnabled:
          type: boolean
          description: If the SMART on FHIR proxy is enabled
          readOnly: false
    ServicesPatchDescription:
      description: The description of the service.
      type: object
      properties:
        tags:
          description: Instance tags
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/ServicesPropertiesUpdateParameters'
          description: The properties for updating a service instance.
          x-ms-client-flatten: true
    ServiceCorsConfigurationOriginEntry:
      description: An origin for CORS.
      type: string
      pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
    ServicesDescription:
      description: The description of the service.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          description: The common properties of a service.
          $ref: '#/components/schemas/ServicesProperties'
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: '#/components/schemas/systemData'
      allOf:
      - $ref: '#/components/schemas/ServicesResource'
    ServiceCorsConfigurationHeaderEntry:
      description: A header for CORS.
      type: string
    ServiceOciArtifactEntry:
      description: An Open Container Initiative (OCI) artifact.
      type: object
      properties:
        loginServer:
          description: The Azure Container Registry login server.
          type: string
        imageName:
          description: The artifact name.
          type: string
        digest:
          description: The artifact digest.
          type: string
    ServiceAcrConfigurationInfo:
      description: Azure container registry configuration information
      type: object
      properties:
        loginServers:
          type: array
          description: The list of the ACR login servers.
          readOnly: false
          items:
            type: string
        ociArtifacts:
          type: array
          description: The list of Open Container Initiative (OCI) artifacts.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceOciArtifactEntry'
          x-ms-identifiers: []
  parameters:
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    resourceName:
      name: resourceName
      in: path
      description: The name of the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
