openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Private Endpoint Connections API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Private Endpoint Connections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}/privateEndpointConnections
  : get:
      tags:
      - Private Endpoint Connections
      operationId: PrivateEndpointConnections_ListByService
      description: Lists all private endpoint connections for a service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResultDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        PrivateEndpointConnection_List:
          $ref: ./examples/legacy/ServiceListPrivateEndpointConnections.json
      x-ms-pageable:
        nextLinkName: null
      summary: Private endpoint connections list by service
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Private Endpoint Connections
      operationId: PrivateEndpointConnections_Get
      description: Gets the specified private endpoint connection associated with the service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        PrivateEndpointConnection_GetConnection:
          $ref: ./examples/legacy/ServiceGetPrivateEndpointConnection.json
      summary: Private endpoint connections get
      x-summary-source: derived
    put:
      tags:
      - Private Endpoint Connections
      operationId: PrivateEndpointConnections_CreateOrUpdate
      description: Update the state of the specified private endpoint connection associated with the service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        PrivateEndpointConnection_CreateOrUpdate:
          $ref: ./examples/legacy/ServiceCreatePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
        description: The private endpoint connection properties.
        required: true
      summary: Private endpoint connections create or update
      x-summary-source: derived
    delete:
      tags:
      - Private Endpoint Connections
      description: Deletes a private endpoint connection.
      operationId: PrivateEndpointConnections_Delete
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '202':
          description: The request was successful; the operation will complete asynchronously.
        '204':
          description: No Content - The private endpoint connection does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        PrivateEndpointConnections_Delete:
          $ref: ./examples/legacy/ServiceDeletePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      summary: Private endpoint connections delete
      x-summary-source: derived
components:
  schemas:
    PrivateEndpointConnectionListResultDescription:
      type: object
      properties:
        value:
          type: array
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
      description: List of private endpoint connection associated with the specified storage account
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    PrivateEndpointConnectionDescription:
      type: object
      properties:
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: ../../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
      description: The Private Endpoint Connection resource.
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    resourceName:
      name: resourceName
      in: path
      description: The name of the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
