openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Dicom Services API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DicomServices
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/dicomservices
  : get:
      tags:
      - DicomServices
      description: Lists all DICOM Services for the given workspace
      operationId: DicomServices_ListByWorkspace
      x-ms-examples:
        List dicomservices:
          $ref: ./examples/dicomservices/DicomServices_List.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: List of DICOM Services.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomServiceCollection'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Dicom services list by workspace
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/dicomservices/{dicomServiceName}
  : get:
      tags:
      - DicomServices
      description: Gets the properties of the specified DICOM Service.
      operationId: DicomServices_Get
      x-ms-examples:
        Get a dicomservice:
          $ref: ./examples/dicomservices/DicomServices_Get.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/dicomServiceName'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomService'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Dicom services get
      x-summary-source: derived
    put:
      tags:
      - DicomServices
      description: Creates or updates a DICOM Service resource with the specified parameters.
      operationId: DicomServices_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update a Dicom Service:
          $ref: ./examples/dicomservices/DicomServices_Create.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/dicomServiceName'
      responses:
        '200':
          description: Updated - Put request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomService'
        '201':
          description: Created - Put request accepted and an existing resource is being created asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomService'
        '202':
          description: Accepted - Put request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomService'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DicomService'
        description: The parameters for creating or updating a Dicom Service resource.
        required: true
      summary: Dicom services create or update
      x-summary-source: derived
    patch:
      tags:
      - DicomServices
      description: Patch DICOM Service details.
      operationId: DicomServices_Update
      x-ms-long-running-operation: true
      x-ms-examples:
        Update a dicomservice:
          $ref: ./examples/dicomservices/DicomServices_Patch.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/dicomServiceName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Updated - Patch request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomService'
        '202':
          description: Accepted - Patch request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DicomService'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DicomServicePatchResource'
        description: The parameters for updating a Dicom Service.
        required: true
      summary: Dicom services update
      x-summary-source: derived
    delete:
      tags:
      - DicomServices
      description: Deletes a DICOM Service.
      operationId: DicomServices_Delete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a dicomservice:
          $ref: ./examples/dicomservices/DicomServices_Delete.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/dicomServiceName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Resource deleted.
        '202':
          description: Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Dicom services delete
      x-summary-source: derived
components:
  schemas:
    ResourceCore:
      type: object
      description: The common properties for any resource, tracked or proxy.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        etag:
          description: An etag associated with the resource, used for optimistic concurrency when editing it.
          type: string
      x-ms-azure-resource: true
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ProvisioningState:
      description: The provisioning state.
      enum:
      - Deleting
      - Succeeded
      - Creating
      - Accepted
      - Verifying
      - Updating
      - Failed
      - Canceled
      - Deprovisioned
      - Moving
      - Suspended
      - Warned
      - SystemMaintenance
      type: string
      readOnly: true
      x-ms-enum:
        name: provisioningState
        modelAsString: true
    Error:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ServiceManagedIdentity:
      type: object
      description: Managed service identity (system assigned and/or user assigned identities)
      properties:
        identity:
          type: object
          description: Setting indicating whether the service has a managed identity associated with it.
          properties:
            type:
              description: Type of identity being specified, currently SystemAssigned and None are allowed.
              type: string
              enum:
              - None
              - SystemAssigned
              - UserAssigned
              - SystemAssigned,UserAssigned
              x-ms-enum:
                name: ServiceManagedIdentityType
                modelAsString: true
            principalId:
              readOnly: true
              format: uuid
              type: string
              description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
            tenantId:
              readOnly: true
              format: uuid
              type: string
              description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
            userAssignedIdentities:
              $ref: '#/components/schemas/UserAssignedIdentities'
          required:
          - type
    EnableDataPartitions:
      description: Boolean to indicate if data partitions is enabled or not.
      type: boolean
    CorsConfiguration:
      description: The settings for the CORS configuration of the service instance.
      type: object
      properties:
        origins:
          type: array
          description: The origins to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/CorsConfigurationOriginEntry'
        headers:
          type: array
          description: The headers to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/CorsConfigurationHeaderEntry'
        methods:
          type: array
          description: The methods to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/CorsConfigurationMethodEntry'
        maxAge:
          type: integer
          format: int32
          description: The max age to be allowed via CORS.
          readOnly: false
          minimum: 0
          maximum: 99999
        allowCredentials:
          type: boolean
          description: If credentials are allowed via CORS.
          readOnly: false
    DicomService:
      type: object
      description: The description of Dicom Service
      allOf:
      - $ref: '#/components/schemas/TaggedResource'
      - $ref: '#/components/schemas/ServiceManagedIdentity'
      properties:
        properties:
          description: Dicom Service configuration.
          $ref: '#/components/schemas/DicomServiceProperties'
          x-ms-client-flatten: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: '#/components/schemas/systemData'
    ResourceTags:
      type: object
      description: List of key value pairs that describe the resource. This will overwrite the existing tags.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
    ResourcePublicNetworkAccess:
      description: Control permission for data plane traffic coming from public networks while private endpoint is enabled.
      enum:
      - Enabled
      - Disabled
      type: string
      x-ms-enum:
        name: PublicNetworkAccess
        modelAsString: true
      readOnly: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    CorsConfigurationMethodEntry:
      description: A method for CORS.
      type: string
    CorsConfigurationHeaderEntry:
      description: A header for CORS.
      type: string
    StorageConfiguration:
      description: The configuration of connected storage
      type: object
      properties:
        storageResourceId:
          type: string
          description: The resource id of connected storage account.
          readOnly: false
        fileSystemName:
          type: string
          description: The filesystem name of connected storage account.
          readOnly: false
    LocationBasedResource:
      type: object
      description: The common properties for any location based resource, tracked or proxy.
      allOf:
      - $ref: '#/components/schemas/ResourceCore'
      properties:
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
      x-ms-azure-resource: true
    DicomServiceProperties:
      description: Dicom Service properties.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          $ref: '#/components/schemas/ProvisioningState'
        authenticationConfiguration:
          description: Dicom Service authentication configuration.
          $ref: '#/components/schemas/DicomServiceAuthenticationConfiguration'
        corsConfiguration:
          description: Dicom Service Cors configuration.
          $ref: '#/components/schemas/CorsConfiguration'
        serviceUrl:
          description: The url of the Dicom Services.
          type: string
          readOnly: true
        privateEndpointConnections:
          description: The list of private endpoint connections that are set up for this resource.
          type: array
          items:
            $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
          readOnly: true
        publicNetworkAccess:
          description: Control permission for data plane traffic coming from public networks while private endpoint is enabled.
          $ref: '#/components/schemas/ResourcePublicNetworkAccess'
        eventState:
          description: DICOM Service event support status.
          $ref: '#/components/schemas/ResourceEventState'
        encryption:
          description: The encryption settings of the DICOM service
          $ref: '#/components/schemas/Encryption'
        storageConfiguration:
          description: The configuration of external storage account
          $ref: '#/components/schemas/StorageConfiguration'
        enableDataPartitions:
          description: If data partitions is enabled or not.
          $ref: '#/components/schemas/EnableDataPartitions'
    ResourceEventState:
      type: string
      description: Indicates the current status of event support for the resource.
      enum:
      - Disabled
      - Enabled
      - Updating
      x-ms-enum:
        name: ServiceEventState
        modelAsString: true
      readOnly: true
    DicomServiceAuthenticationConfiguration:
      description: Authentication configuration information
      type: object
      properties:
        authority:
          type: string
          description: The authority url for the service
          readOnly: true
        audiences:
          type: array
          description: The audiences for the service
          items:
            $ref: '#/components/schemas/DicomAudience'
          readOnly: true
    DicomServicePatchResource:
      type: object
      description: Dicom Service patch properties
      allOf:
      - $ref: '#/components/schemas/ResourceTags'
      - $ref: '#/components/schemas/ServiceManagedIdentity'
    CorsConfigurationOriginEntry:
      description: An origin for CORS.
      type: string
      pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
    TaggedResource:
      type: object
      description: The common properties of tracked resources in the service.
      allOf:
      - $ref: '#/components/schemas/ResourceTags'
      - $ref: '#/components/schemas/LocationBasedResource'
      x-ms-azure-resource: true
    UserAssignedIdentity:
      type: object
      description: User assigned identity properties
      properties:
        principalId:
          description: The principal ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
        clientId:
          description: The client ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
    Encryption:
      description: Settings to encrypt a service
      type: object
      properties:
        customerManagedKeyEncryption:
          type: object
          description: The encryption settings for the customer-managed key
          readOnly: false
          properties:
            keyEncryptionKeyUrl:
              type: string
              description: The URL of the key to use for encryption
              readOnly: false
    UserAssignedIdentities:
      title: User-Assigned Identities
      description: 'The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests.'
      type: object
      additionalProperties:
        $ref: '#/components/schemas/UserAssignedIdentity'
    DicomAudience:
      description: The audience for Dicom Service
      type: string
      readOnly: true
    DicomServiceCollection:
      description: The collection of Dicom Services.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of Dicom Services.
          type: string
        value:
          description: The list of Dicom Services.
          type: array
          items:
            $ref: '#/components/schemas/DicomService'
  parameters:
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    workspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of workspace resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    dicomServiceName:
      name: dicomServiceName
      in: path
      required: true
      description: The name of DICOM Service resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
