openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Workspace Private Link Resources API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkspacePrivateLinkResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateLinkResources
  : get:
      tags:
      - WorkspacePrivateLinkResources
      operationId: WorkspacePrivateLinkResources_ListByWorkspace
      description: Gets the private link resources that need to be created for a workspace.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResultDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        WorkspacePrivateLinkResources_ListGroupIds:
          $ref: ./examples/privatelink/PrivateLinkResourcesListByWorkspace.json
      x-ms-pageable:
        nextLinkName: null
      summary: Workspace private link resources list by workspace
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateLinkResources/{groupName}
  : get:
      tags:
      - WorkspacePrivateLinkResources
      operationId: WorkspacePrivateLinkResources_Get
      description: Gets a private link resource that need to be created for a workspace.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      - name: groupName
        in: path
        description: The name of the private link resource group.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        WorkspacePrivateLinkResources_Get:
          $ref: ./examples/privatelink/WorkspacePrivateLinkResourceGet.json
      summary: Workspace private link resources get
      x-summary-source: derived
components:
  schemas:
    PrivateLinkResourceListResultDescription:
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResourceDescription'
      description: A list of private link resources
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    PrivateLinkResourceDescription:
      type: object
      properties:
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: ../../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateLinkResource
      description: The Private Endpoint Connection resource.
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    workspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of workspace resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
