openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Private Link Resources API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}/privateLinkResources
  : get:
      tags:
      - PrivateLinkResources
      operationId: PrivateLinkResources_ListByService
      description: Gets the private link resources that need to be created for a service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResultDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        PrivateLinkResources_ListGroupIds:
          $ref: ./examples/legacy/PrivateLinkResourcesListByService.json
      summary: Private link resources list by service
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}/privateLinkResources/{groupName}
  : get:
      tags:
      - PrivateLinkResources
      operationId: PrivateLinkResources_Get
      description: Gets a private link resource that need to be created for a service.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: groupName
        in: path
        description: The name of the private link resource group.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        PrivateLinkResources_Get:
          $ref: ./examples/legacy/PrivateLinkResourceGet.json
      summary: Private link resources get
      x-summary-source: derived
components:
  schemas:
    PrivateLinkResourceListResultDescription:
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResourceDescription'
      description: A list of private link resources
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    PrivateLinkResourceDescription:
      type: object
      properties:
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: ../../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateLinkResource
      description: The Private Endpoint Connection resource.
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    resourceName:
      name: resourceName
      in: path
      description: The name of the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
