openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Workspaces API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workspaces
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/workspaces:
    get:
      tags:
      - Workspaces
      description: Lists all the available workspaces under the specified subscription.
      operationId: Workspaces_ListBySubscription
      x-ms-examples:
        Get workspaces by subscription:
          $ref: ./examples/workspaces/Workspaces_ListBySubscription.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the workspaces in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Workspaces list by subscription
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces:
    get:
      tags:
      - Workspaces
      description: Lists all the available workspaces under the specified resource group.
      operationId: Workspaces_ListByResourceGroup
      x-ms-examples:
        Get workspaces by resource group:
          $ref: ./examples/workspaces/Workspaces_ListByResourceGroup.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the workspaces in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Workspaces list by resource group
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}
  : get:
      tags:
      - Workspaces
      description: Gets the properties of the specified workspace.
      operationId: Workspaces_Get
      x-ms-examples:
        Get workspace:
          $ref: ./examples/workspaces/Workspaces_Get.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Workspaces get
      x-summary-source: derived
    put:
      tags:
      - Workspaces
      description: Creates or updates a workspace resource with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update a workspace:
          $ref: ./examples/workspaces/Workspaces_Create.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Updated - Put request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '201':
          description: Created - Put request accepted and an existing resource is being created asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '202':
          description: Accepted - Put request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a healthcare workspace.
        required: true
      summary: Workspaces create or update
      x-summary-source: derived
    patch:
      tags:
      - Workspaces
      description: Patch workspace details.
      operationId: Workspaces_Update
      x-ms-long-running-operation: true
      x-ms-examples:
        Update a workspace:
          $ref: ./examples/workspaces/Workspaces_Patch.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Updated - Patch request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '202':
          description: Accepted - Patch request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePatchResource'
        description: The parameters for updating a specified workspace.
        required: true
      summary: Workspaces update
      x-summary-source: derived
    delete:
      tags:
      - Workspaces
      description: Deletes a specified workspace.
      operationId: Workspaces_Delete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a workspace:
          $ref: ./examples/workspaces/Workspaces_Delete.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Resource deleted.
        '202':
          description: Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Workspaces delete
      x-summary-source: derived
components:
  schemas:
    ResourceCore:
      type: object
      description: The common properties for any resource, tracked or proxy.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        etag:
          description: An etag associated with the resource, used for optimistic concurrency when editing it.
          type: string
      x-ms-azure-resource: true
    WorkspaceList:
      description: Collection of workspace object with a next link
      type: object
      properties:
        nextLink:
          description: The link used to get the next page.
          type: string
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
    WorkspacePatchResource:
      type: object
      description: Workspace patch properties
      allOf:
      - $ref: '#/components/schemas/ResourceTags'
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    LocationBasedResource:
      type: object
      description: The common properties for any location based resource, tracked or proxy.
      allOf:
      - $ref: '#/components/schemas/ResourceCore'
      properties:
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
      x-ms-azure-resource: true
    Workspace:
      type: object
      description: Workspace resource.
      allOf:
      - $ref: '#/components/schemas/TaggedResource'
      properties:
        properties:
          x-ms-client-flatten: false
          type: object
          description: Workspaces resource specific properties.
          properties:
            provisioningState:
              description: The provisioning state.
              $ref: '#/components/schemas/ProvisioningState'
            privateEndpointConnections:
              description: The list of private endpoint connections that are set up for this resource.
              type: array
              items:
                $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
              readOnly: true
            publicNetworkAccess:
              description: Control permission for data plane traffic coming from public networks while private endpoint is enabled.
              $ref: '#/components/schemas/ResourcePublicNetworkAccess'
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: '#/components/schemas/systemData'
    ProvisioningState:
      description: The provisioning state.
      enum:
      - Deleting
      - Succeeded
      - Creating
      - Accepted
      - Verifying
      - Updating
      - Failed
      - Canceled
      - Deprovisioned
      - Moving
      - Suspended
      - Warned
      - SystemMaintenance
      type: string
      readOnly: true
      x-ms-enum:
        name: provisioningState
        modelAsString: true
    Error:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ResourceTags:
      type: object
      description: List of key value pairs that describe the resource. This will overwrite the existing tags.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
    ResourcePublicNetworkAccess:
      description: Control permission for data plane traffic coming from public networks while private endpoint is enabled.
      enum:
      - Enabled
      - Disabled
      type: string
      x-ms-enum:
        name: PublicNetworkAccess
        modelAsString: true
      readOnly: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    TaggedResource:
      type: object
      description: The common properties of tracked resources in the service.
      allOf:
      - $ref: '#/components/schemas/ResourceTags'
      - $ref: '#/components/schemas/LocationBasedResource'
      x-ms-azure-resource: true
  parameters:
    workspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of workspace resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
