openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Workspace Private Endpoint Connections…
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkspacePrivateEndpointConnections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateEndpointConnections
  : get:
      tags:
      - WorkspacePrivateEndpointConnections
      operationId: WorkspacePrivateEndpointConnections_ListByWorkspace
      description: Lists all private endpoint connections for a workspace.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResultDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        WorkspacePrivateEndpointConnection_List:
          $ref: ./examples/privatelink/WorkspaceListPrivateEndpointConnections.json
      x-ms-pageable:
        nextLinkName: null
      summary: Workspace private endpoint connections list by workspace
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - WorkspacePrivateEndpointConnections
      operationId: WorkspacePrivateEndpointConnections_Get
      description: Gets the specified private endpoint connection associated with the workspace.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        WorkspacePrivateEndpointConnection_GetConnection:
          $ref: ./examples/privatelink/WorkspaceGetPrivateEndpointConnection.json
      summary: Workspace private endpoint connections get
      x-summary-source: derived
    put:
      tags:
      - WorkspacePrivateEndpointConnections
      operationId: WorkspacePrivateEndpointConnections_CreateOrUpdate
      description: Update the state of the specified private endpoint connection associated with the workspace.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        WorkspacePrivateEndpointConnection_CreateOrUpdate:
          $ref: ./examples/privatelink/WorkspaceCreatePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
        description: The private endpoint connection properties.
        required: true
      summary: Workspace private endpoint connections create or update
      x-summary-source: derived
    delete:
      tags:
      - WorkspacePrivateEndpointConnections
      description: Deletes a private endpoint connection.
      operationId: WorkspacePrivateEndpointConnections_Delete
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '202':
          description: The request was successful; the operation will complete asynchronously.
        '204':
          description: No Content - The private endpoint connection does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        WorkspacePrivateEndpointConnections_Delete:
          $ref: ./examples/privatelink/WorkspaceDeletePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      summary: Workspace private endpoint connections delete
      x-summary-source: derived
components:
  schemas:
    PrivateEndpointConnectionListResultDescription:
      type: object
      properties:
        value:
          type: array
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionDescription'
      description: List of private endpoint connection associated with the specified storage account
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    PrivateEndpointConnectionDescription:
      type: object
      properties:
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: ../../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
      description: The Private Endpoint Connection resource.
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    workspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of workspace resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
