openapi: 3.2.0
info:
  version: '2024-03-31'
  title: HealthcareApisClient Iot Connectors API
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IotConnectors
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/iotconnectors
  : get:
      tags:
      - IotConnectors
      description: Lists all IoT Connectors for the given workspace
      operationId: IotConnectors_ListByWorkspace
      x-ms-examples:
        List iotconnectors:
          $ref: ./examples/iotconnectors/iotconnector_List.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: List of IoT Connectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnectorCollection'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Iot connectors list by workspace
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/iotconnectors/{iotConnectorName}
  : get:
      tags:
      - IotConnectors
      description: Gets the properties of the specified IoT Connector.
      operationId: IotConnectors_Get
      x-ms-examples:
        Get an IoT Connector:
          $ref: ./examples/iotconnectors/iotconnector_Get.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/iotConnectorName'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnector'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Iot connectors get
      x-summary-source: derived
    put:
      tags:
      - IotConnectors
      description: Creates or updates an IoT Connector resource with the specified parameters.
      operationId: IotConnectors_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Create an IoT Connector:
          $ref: ./examples/iotconnectors/iotconnector_Create.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/iotConnectorName'
      responses:
        '200':
          description: Updated - Put request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnector'
        '201':
          description: Created - Put request accepted and an existing resource is being created asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnector'
        '202':
          description: Accepted - Put request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnector'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotConnector'
        description: The parameters for creating or updating an IoT Connectors resource.
        required: true
      summary: Iot connectors create or update
      x-summary-source: derived
    patch:
      tags:
      - IotConnectors
      description: Patch an IoT Connector.
      operationId: IotConnectors_Update
      x-ms-long-running-operation: true
      x-ms-examples:
        Patch an IoT Connector:
          $ref: ./examples/iotconnectors/iotconnector_Patch.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/iotConnectorName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Updated - Patch request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnector'
        '202':
          description: Accepted - Patch request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotConnector'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotConnectorPatchResource'
        description: The parameters for updating an IoT Connector.
        required: true
      summary: Iot connectors update
      x-summary-source: derived
    delete:
      tags:
      - IotConnectors
      description: Deletes an IoT Connector.
      operationId: IotConnectors_Delete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete an IoT Connector:
          $ref: ./examples/iotconnectors/iotconnector_Delete.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/iotConnectorName'
      - $ref: '#/components/parameters/workspaceName'
      responses:
        '200':
          description: Resource deleted.
        '202':
          description: Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Iot connectors delete
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/iotconnectors/{iotConnectorName}/fhirdestinations
  : get:
      tags:
      - IotConnectors
      description: Lists all FHIR destinations for the given IoT Connector
      operationId: FhirDestinations_ListByIotConnector
      x-ms-examples:
        List IoT Connectors:
          $ref: ./examples/iotconnectors/iotconnector_fhirdestination_List.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/iotConnectorName'
      responses:
        '200':
          description: List of IoT Connector FHIR destinations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotFhirDestinationCollection'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Fhir destinations list by iot connector
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/iotconnectors/{iotConnectorName}/fhirdestinations/{fhirDestinationName}
  : get:
      tags:
      - IotConnectors
      description: Gets the properties of the specified Iot Connector FHIR destination.
      operationId: IotConnectorFhirDestination_Get
      x-ms-examples:
        Get an IoT Connector destination:
          $ref: ./examples/iotconnectors/iotconnector_fhirdestination_Get.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/iotConnectorName'
      - $ref: '#/components/parameters/fhirDestinationName'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotFhirDestination'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Iot connector fhir destination get
      x-summary-source: derived
    put:
      tags:
      - IotConnectors
      description: Creates or updates an IoT Connector FHIR destination resource with the specified parameters.
      operationId: IotConnectorFhirDestination_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update an Iot Connector FHIR destination:
          $ref: ./examples/iotconnectors/iotconnector_fhirdestination_Create.json
      parameters:
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/iotConnectorName'
      - $ref: '#/components/parameters/fhirDestinationName'
      responses:
        '200':
          description: Updated - Put request accepted and an existing resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotFhirDestination'
        '201':
          description: Created - Put request accepted and an existing resource is being created asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotFhirDestination'
        '202':
          description: Accepted - Put request accepted and an existing resource is being updated asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotFhirDestination'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotFhirDestination'
        description: The parameters for creating or updating an IoT Connector FHIR destination resource.
        required: true
      summary: Iot connector fhir destination create or update
      x-summary-source: derived
    delete:
      tags:
      - IotConnectors
      description: Deletes an IoT Connector FHIR destination.
      operationId: IotConnectorFhirDestination_Delete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete an IoT Connector destination:
          $ref: ./examples/iotconnectors/iotconnector_fhirdestination_Delete.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workspaceName'
      - $ref: '#/components/parameters/iotConnectorName'
      - $ref: '#/components/parameters/fhirDestinationName'
      responses:
        '200':
          description: Resource deleted.
        '202':
          description: Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Iot connector fhir destination delete
      x-summary-source: derived
components:
  schemas:
    IotEventHubIngestionEndpointConfiguration:
      type: object
      properties:
        eventHubName:
          type: string
          description: Event Hub name to connect to.
        consumerGroup:
          type: string
          description: Consumer group of the event hub to connected to.
        fullyQualifiedEventHubNamespace:
          type: string
          description: Fully qualified namespace of the Event Hub to connect to.
      description: Event Hub ingestion endpoint configuration
    ResourceCore:
      type: object
      description: The common properties for any resource, tracked or proxy.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        etag:
          description: An etag associated with the resource, used for optimistic concurrency when editing it.
          type: string
      x-ms-azure-resource: true
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ProvisioningState:
      description: The provisioning state.
      enum:
      - Deleting
      - Succeeded
      - Creating
      - Accepted
      - Verifying
      - Updating
      - Failed
      - Canceled
      - Deprovisioned
      - Moving
      - Suspended
      - Warned
      - SystemMaintenance
      type: string
      readOnly: true
      x-ms-enum:
        name: provisioningState
        modelAsString: true
    Error:
      description: Error details.
      type: object
      properties:
        error:
          description: Error details
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ServiceManagedIdentity:
      type: object
      description: Managed service identity (system assigned and/or user assigned identities)
      properties:
        identity:
          type: object
          description: Setting indicating whether the service has a managed identity associated with it.
          properties:
            type:
              description: Type of identity being specified, currently SystemAssigned and None are allowed.
              type: string
              enum:
              - None
              - SystemAssigned
              - UserAssigned
              - SystemAssigned,UserAssigned
              x-ms-enum:
                name: ServiceManagedIdentityType
                modelAsString: true
            principalId:
              readOnly: true
              format: uuid
              type: string
              description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
            tenantId:
              readOnly: true
              format: uuid
              type: string
              description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
            userAssignedIdentities:
              $ref: '#/components/schemas/UserAssignedIdentities'
          required:
          - type
    IotConnectorPatchResource:
      type: object
      description: Iot Connector patch properties
      allOf:
      - $ref: '#/components/schemas/ResourceTags'
      - $ref: '#/components/schemas/ServiceManagedIdentity'
    IotConnector:
      type: object
      description: IoT Connector definition.
      allOf:
      - $ref: '#/components/schemas/TaggedResource'
      - $ref: '#/components/schemas/ServiceManagedIdentity'
      properties:
        properties:
          description: IoT Connector configuration.
          $ref: '#/components/schemas/IotConnectorProperties'
          x-ms-client-flatten: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: '#/components/schemas/systemData'
    ResourceTags:
      type: object
      description: List of key value pairs that describe the resource. This will overwrite the existing tags.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    IotDestinationProperties:
      type: object
      description: Common IoT Connector destination properties.
      properties:
        provisioningState:
          description: The provisioning state.
          $ref: '#/components/schemas/ProvisioningState'
          x-ms-client-flatten: true
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    LocationBasedResource:
      type: object
      description: The common properties for any location based resource, tracked or proxy.
      allOf:
      - $ref: '#/components/schemas/ResourceCore'
      properties:
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
      x-ms-azure-resource: true
    IotMappingProperties:
      description: The mapping content.
      type: object
      properties:
        content:
          description: The mapping.
          type: object
    IotFhirDestinationCollection:
      description: A collection of IoT Connector FHIR destinations.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of IoT FHIR destinations.
          type: string
        value:
          description: The list of IoT Connector FHIR destinations.
          type: array
          items:
            $ref: '#/components/schemas/IotFhirDestination'
    IotIdentityResolutionType:
      description: The type of IoT identity resolution to use with the destination.
      enum:
      - Create
      - Lookup
      type: string
      x-ms-enum:
        name: IotIdentityResolutionType
        modelAsString: true
    IotConnectorProperties:
      description: IoT Connector properties.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          $ref: '#/components/schemas/ProvisioningState'
        ingestionEndpointConfiguration:
          description: Source configuration.
          $ref: '#/components/schemas/IotEventHubIngestionEndpointConfiguration'
        deviceMapping:
          description: Device Mappings.
          $ref: '#/components/schemas/IotMappingProperties'
    TaggedResource:
      type: object
      description: The common properties of tracked resources in the service.
      allOf:
      - $ref: '#/components/schemas/ResourceTags'
      - $ref: '#/components/schemas/LocationBasedResource'
      x-ms-azure-resource: true
    UserAssignedIdentity:
      type: object
      description: User assigned identity properties
      properties:
        principalId:
          description: The principal ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
        clientId:
          description: The client ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
    UserAssignedIdentities:
      title: User-Assigned Identities
      description: 'The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests.'
      type: object
      additionalProperties:
        $ref: '#/components/schemas/UserAssignedIdentity'
    IotFhirDestinationProperties:
      required:
      - resourceIdentityResolutionType
      - fhirServiceResourceId
      - fhirMapping
      type: object
      allOf:
      - $ref: '#/components/schemas/IotDestinationProperties'
      description: IoT Connector destination properties for an Azure FHIR service.
      properties:
        resourceIdentityResolutionType:
          description: Determines how resource identity is resolved on the destination.
          $ref: '#/components/schemas/IotIdentityResolutionType'
        fhirServiceResourceId:
          type: string
          description: Fully qualified resource id of the FHIR service to connect to.
        fhirMapping:
          description: FHIR Mappings
          $ref: '#/components/schemas/IotMappingProperties'
    IotConnectorCollection:
      description: A collection of IoT Connectors.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of IoT Connectors.
          type: string
        value:
          description: The list of IoT Connectors.
          type: array
          items:
            $ref: '#/components/schemas/IotConnector'
    IotFhirDestination:
      required:
      - properties
      type: object
      description: IoT Connector FHIR destination definition.
      allOf:
      - $ref: '#/components/schemas/LocationBasedResource'
      properties:
        properties:
          description: IoT FHIR Destination settings.
          $ref: '#/components/schemas/IotFhirDestinationProperties'
          x-ms-client-flatten: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          $ref: '#/components/schemas/systemData'
  parameters:
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    fhirDestinationName:
      name: fhirDestinationName
      in: path
      required: true
      description: The name of IoT Connector FHIR destination resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    workspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of workspace resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    iotConnectorName:
      name: iotConnectorName
      in: path
      required: true
      description: The name of IoT Connector resource.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
